
.filters{
    width: 10%;
    height: 5vw;
    margin-left: auto;
    margin-right: auto;
}
#sliders{
display: flex;
column-gap: 7vw;
}
#apartment_card{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 30%;
    text-align: center;
}
#cards{
    display: flex;
    justify-content: space-between;

}